body {
  line-height: 2.25rem;
  font-family: 'Rubik', sans-serif;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.intro {
  width: 100%;
  height: 50%;
}

nav {
  position: absolute;
  right: 0;
  color: white;
  text-align: right;
  font-size: 35px;
  z-index: 1;
  padding-right: 10px;
}

.hello {
  position: absolute;
  z-index: 1;
  top: 23%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 4em;
}

.blurb {
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 40%;
  font-size: 2em;
  text-align: center;
  width: 100%;
}

.blurb2 {
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 49%;
  font-size: 2em;
  text-align: center;
}

.blurb3 {
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 58%;
  font-size: 2em;
  text-align: center;
}

.down-arrow {
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 90%;
  font-size: 3em;
  text-align: center;
  z-index: 1;
}

.down-arrow2 {
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 3em;
  text-align: center;
  z-index: 1;
  top: 194%;
}

.up-arrow {
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 3em;
  text-align: center;
  z-index: 1;
  top: 208%;
}

#intro-container, #about-container {
  height: 100vh;
}

#intro-container {
}

#about-container {
  background: #1abc9c; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #1abc9c, #8e44ad); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #1abc9c, #8e44ad); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #1abc9c, #8e44ad); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #1abc9c, #8e44ad); /* Standard syntax */
  text-align: center;
  padding-top: 1%;
  padding-bottom: 3%
}

.about-header {
  font-size: 55px;
}

.about-me {
  font-size: 24px;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

#portfolio-container {
  background-color: #000;
}

.portfolio-main {
  font-size: 35px;
  text-align: center;
  color: white;
  font-size: 45px;
  margin-top: 5%;
}

.portfolio-header {
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
  color: white;
  font-size: 30px;
  text-decoration: underline;
}

.portfolio-description {
  font-size: 22px;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}

.built-with {
  font-size: 22px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  color: white;
  font-weight: bold;
}

.portfolio-buttons {
  text-align: center;
}

button {
  background-color: #8e44ad;
  color: #1abc9c;
  font-size: 30px;
  margin-top: 20px;
  border: 2px solid #1abc9c;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
}

#platformGrouping {
  text-align: center;
}

#iosApp {
  display: inline-block;
  max-width: 33%;
  text-align: center;
}

#androidApp {
  display: inline-block;
  max-width: 33%;
  text-align: center;
}

img {
  max-width: 65%;
  display: block;
  margin: 0 auto;
}

#contact-container {
  background: #1abc9c; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #1abc9c, #8e44ad); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #1abc9c, #8e44ad); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #1abc9c, #8e44ad); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #1abc9c, #8e44ad); /* Standard syntax */
  text-align: center;
  height: 500px;
}

.contact-greeting {
  padding-top: 100px;
  font-size: 35px;
}

.contact-email, .contact-github {
  color: white;
}

.fa {
  color: white;
  padding: 10px;
}

/*Animation*/

@import url(https://fonts.googleapis.com/css?family=Orbitron:700);
@import url(https://fonts.googleapis.com/css?family=Lato);

/* Stars
------------------------------------- */

#space, .stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  display: block;
}

.stars {
  background-image:
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 5s infinite;
  opacity: 0;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 1s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 2s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 3s;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 4s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}

body {
  background: #000;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px) {
    #intro-container {
      text-align: center;
    }

    nav {
      position: relative;
      text-align: center;
    }

    .hello {
      top: 25%;
      font-size: 45px;
    }

    .blurb {
      font-size: 30px;
      top: 38%;
    }

    .blurb2 {
      font-size: 30px;
      top: 50%;
    }

    .about-me {
      font-size: 28px;
    }

    .about-paragraph {
      font-size: 35px;
    }

    .down-arrow2 {
      top: 204%;
    }

    .portfolio-main {
      margin-top: 10%;
    }

    .up-arrow {
      top: 210%;
    }

  }

  /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) and (max-width : 480px) {
      #intro-container {
        text-align: center;
      }

      nav {
        position: relative;
        text-align: center;
      }

      .hello {
        top: 25%;
        font-size: 45px;
      }

      .blurb {
        font-size: 30px;
        top: 38%;
      }

      .blurb2 {
        font-size: 30px;
        top: 50%;
      }

      .about-me {
        font-size: 28px;
      }

      .down-arrow2 {
        top: 200%;
      }

      .portfolio-main {
        margin-top: 10%;
      }

      .up-arrow {
        top: 207%;
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) and (max-width : 768px) {
      #intro-container {
        text-align: center;
      }

      nav {
        position: relative;
        text-align: center;
      }

      .hello {
        top: 25%;
        font-size: 45px;
      }

      .blurb {
        font-size: 30px;
        top: 38%;
      }

      .blurb2 {
        font-size: 30px;
        top: 50%;
      }

      .about-me {
        font-size: 25px;
      }

      .down-arrow2 {
        top: 200%;
      }

      .portfolio-main {
        margin-top: 10%;
      }

      .up-arrow {
        top: 207%;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width : 992px) {
      #intro-container {
        text-align: center;
      }

      nav {
        position: relative;
        text-align: center;
      }

      .hello {
        top: 25%;
        font-size: 45px;
      }

      .blurb {
        font-size: 30px;
        top: 38%;
      }

      .blurb2 {
        font-size: 30px;
        top: 50%;
      }

      .about-me {
        font-size: 25px;
      }

      .down-arrow2 {
        top: 200%;
      }

      .portfolio-main {
        margin-top: 10%;
      }

      .up-arrow {
        top: 207%;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) and (max-width : 1200px) {
      #intro-container {
        text-align: center;
      }

      .hello {
        top: 25%;
        font-size: 45px;
      }

      .blurb {
        font-size: 30px;
        top: 38%;
      }

      .blurb2 {
        font-size: 30px;
        top: 50%;
      }

      .about-me {
        font-size: 25px;
      }

      .down-arrow2 {
        top: 200%;
      }

      .portfolio-main {
        margin-top: 10%;
      }

      .up-arrow {
        top: 207%;
      }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
